*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.home-page-wrapper{
    width:90%;
    margin:0 auto;

    .tech-bg-wrapper{
        display:flex;

        .big-box{
            width:65%;
            background-color:green;
            padding:13%;
            font-size:20px;
            color:#fff;
            background-image:url("https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg?auto=compress&cs=tinysrgb&w=600");
            background-size:cover;
            background-repeat:no-repeat;
            background-position:center;
            position:relative;
            border-radius: 20px;
            border:3px solid #000;

            h3{
                position:absolute;
                top:48%;
                left:10%;
                font-size:25px;
                padding:1%;
                border-radius:5px;
                backdrop-filter:blur(7px);

                .header-link{
                    text-decoration:none;
                    color:#fff;
                }
                .header-link:hover{
                    color:lightblue;
                }
            }
            p{
                position:absolute;
                top:58%;
                left:10%;
                font-size:18px;
                padding:1%;
                backdrop-filter:blur(7px);
            }
            
        }

        .small-box-wrapper{
            width:45%;

            .small-box-one,.small-box-two{
                width:100%;
                background-color:green;
                color:#fff;
                padding:17%;
                background-repeat:no-repeat;
                background-size:cover;
                background-position:center;
                position:relative;
                border-radius: 10px;
                border:3px solid #000;

                h4{
                    position:absolute;
                    top:50%;
                    font-size:20px;                
                    padding:1%;
                    border-radius:5px;
                    backdrop-filter:blur(7px);
                }
                p{
                    position: absolute;
                    top:70%;
                    font-size:15px;               
                    padding:1%;
                    border-radius:5px;
                    backdrop-filter:blur(7px);
                }
            }
            .small-box-one{
                background-image:url("https://images.pexels.com/photos/11035471/pexels-photo-11035471.jpeg?auto=compress&cs=tinysrgb&w=600")
            }
            .small-box-two{
                background-image:url("https://images.unsplash.com/photo-1609345635784-fd4a890e2326?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8aGFydmFyZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60")
            }
        }
    }

    .sports-latest-wrapper{
        padding:2%;
        margin:0 auto;

        h2{
            font-size:35px;
            margin-top:3%;
            margin-bottom:3%;
            position:relative;
        }
        h2::after{
            content:'';
            padding:3px;
            width:20%;
            background-color:red;
            position:absolute;
            top:105%;
            left:0;
        }

        .sports-latest{
            display:flex;
            justify-content:space-around;
    
            .sports-latest-elements{
                width:35%;
    
                img{
                    width:90%;
                    height:70vh;
                    margin-bottom:4%;
                    border-radius:10px;
                }
    
                h3{
                    font-size:25px;

                    .header-link{
                        text-decoration:none;
                        color:#000;
                    }
                    .header-link:hover{
                        color:lightblue;
                    }
                }
    
                p{
                    font-size:18px;
                }
    
                h3,p{
                    margin-bottom:3%;
                }

                .category-date{
                    font-size:15px;
                }
            }
        } 
    }

    .tech-wrapper-home{
        margin:2% auto;
        display:flex;
        justify-content:space-between;

        .tech-all-header{
            margin-top:4%;
            margin-bottom:5%;
            position:relative;
        }
        .tech-all-header::after{
            content:'';
            padding:2px;
            width:20%;
            background-color:red;
            position:absolute;
            top:105%;
            left:0;
        }
        .tech-all-posts{
            width:55%;
    
            .tech-all-header{
                font-size:40px;
            }
            .all-posts-wrapper-home{
                .all-posts{
                    display:flex;
                    justify-content:space-around;
                    margin-bottom:7%;
                    position:relative;
                    border-bottom:2px solid gray;
                    padding-bottom:7%;
        
                    img{
                        width:45%;
                        height:60vh;
                        border-radius:10px;
                    }
        
                    .side-content{
                        width:45%;
                        
                        p{
                            color:grey;
                        }
        
                        h3{
                            font-size:25px;
                            margin-bottom:5%;
                            .title-links{
                                text-decoration:none;
                                color:black;
                            }
                            .title-links:hover{
                                color:lightblue;
                            }
                        }
                        .category{
                            margin-top:10%;
                        }
                    }
                }
            }
        }
        .tech-recent-posts-home{
            width:40%;
    
            .tech-recent-header{
                font-size:35px;
                margin:7% 0;
                position:relative;
            }
            .tech-recent-header::after{
                content:'';
                padding:2px;
                width:20%;
                background-color:red;
                position:absolute;
                top:105%;
                left:0;
            }
    
    
            .recent-posts-wrapper-home{
                .recent-posts{
                    display:flex;
                    justify-content:space-around;
                    margin-bottom:7%;
                    position:relative;
                    border-bottom:2px solid gray;
                    padding-bottom:10%;
    
                    img{
                        width:45%;
                        border-radius:10px;
                    }
                    .side-content{
                        width:40%;
    
                        p{
                            color:grey;
                        }
                        
                        .title-links{
                            text-decoration:none;
                            color:black;
                        }
                        .title-links:hover{
                            color:lightblue;
                        }
                    }
                }
            }
        }
    }

    .fitness-wrapper{
        padding:2%;
        margin:0 auto;

        h2{
            font-size:35px;
            margin-top:3%;
            margin-bottom:3%;
            position:relative;
        }
        h2::after{
            content:'';
            padding:3px;
            width:20%;
            background-color:red;
            position:absolute;
            top:105%;
            left:0;
        }

        .fitness-element-wrapper{
            display:flex;
            justify-content:space-around;
    
            .fitness-elements{
                width:35%;
    
                img{
                    width:90%;
                    height:50vh;
                    margin-bottom:4%;
                    border-radius:10px;
                }
    
                h3{
                    font-size:25px;

                    .header-link{
                        text-decoration:none;
                        color:#000;
                    }
                    .header-link:hover{
                        color:lightblue;
                    }
                }
    
                p{
                    font-size:18px;
                }
    
                h3,p{
                    margin-bottom:3%;
                }

                .category-date{
                    font-size:15px;
                }
            }
        } 
    }
}

@media only screen and (max-width:900px){
    .home-page-wrapper{

        .tech-bg-wrapper{
            flex-direction:column;
            margin-top:7%;

            .big-box{
                width:100%;
                padding:30%;
                border-radius:10px;

                h3{
                    font-size:19px;
                }

                p{
                    font-size:15px;
                    top:63%;
                }

                h3,p{
                    left:5%;
                }
            }

            .small-box-wrapper{
                width:100%;

                .small-box-one,.small-box-two{
                    padding:23%;

                    h4,p{
                        left:5%;
                    }
                }
            }
        }

        .sports-latest-wrapper{
            margin-top:7%;
            .sports-latest{
                flex-direction:column;

                .sports-latest-elements{
                    width:100%;
                    margin-top:7%;

                    img{
                        width:100%;
                    }
                }
            }
        }

        .tech-wrapper-home{
            flex-direction:column;

            .tech-all-posts{
                width:100%;

                .all-posts-wrapper-home{
                    .all-posts{
                        flex-direction:column;
                        .post-image,.side-content{
                            width:100%;
                        }
                        .side-content{
                            margin-top:7%;
                        }
                    }
                }
            }

            .tech-recent-posts-home{
                width:100%;
            }
        }

        .fitness-wrapper{

            .fitness-element-wrapper{
                flex-direction:column;

                .fitness-elements{
                    width:100%;
                    margin-top:9%;
                    border-bottom:2px solid gray;
                    padding-bottom:5%;

                    img{
                        width:100%;
                    }
                }
            }
        }
    }
}