* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-page-wrapper {
  width: 90%;
  margin: 0 auto;
}
.home-page-wrapper .tech-bg-wrapper {
  display: flex;
}
.home-page-wrapper .tech-bg-wrapper .big-box {
  width: 65%;
  background-color: green;
  padding: 13%;
  font-size: 20px;
  color: #fff;
  background-image: url("../../../../public/images/tech-img/fullstack.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border-radius: 20px;
  border: 3px solid #000;
}
.home-page-wrapper .tech-bg-wrapper .big-box h3 {
  position: absolute;
  top: 48%;
  left: 10%;
  font-size: 25px;
}
.home-page-wrapper .tech-bg-wrapper .big-box h3 .header-link {
  text-decoration: none;
  color: #fff;
}
.home-page-wrapper .tech-bg-wrapper .big-box h3 .header-link:hover {
  color: lightblue;
}
.home-page-wrapper .tech-bg-wrapper .big-box p {
  position: absolute;
  top: 58%;
  left: 10%;
  font-size: 18px;
}
.home-page-wrapper .tech-bg-wrapper .small-box-wrapper {
  width: 45%;
}
.home-page-wrapper .tech-bg-wrapper .small-box-wrapper .small-box-one, .home-page-wrapper .tech-bg-wrapper .small-box-wrapper .small-box-two {
  width: 100%;
  background-color: green;
  color: #fff;
  padding: 17%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
  border: 3px solid #000;
}
.home-page-wrapper .tech-bg-wrapper .small-box-wrapper .small-box-one h4, .home-page-wrapper .tech-bg-wrapper .small-box-wrapper .small-box-two h4 {
  position: absolute;
  top: 50%;
  font-size: 20px;
}
.home-page-wrapper .tech-bg-wrapper .small-box-wrapper .small-box-one p, .home-page-wrapper .tech-bg-wrapper .small-box-wrapper .small-box-two p {
  position: absolute;
  top: 70%;
  font-size: 15px;
}
.home-page-wrapper .tech-bg-wrapper .small-box-wrapper .small-box-one {
  background-image: url("../../../../public/images/tech-img/reactweb.png");
}
.home-page-wrapper .tech-bg-wrapper .small-box-wrapper .small-box-two {
  background-image: url("../../../../public/images/tech-img/harvard.jfif");
}
.home-page-wrapper .sports-latest-wrapper {
  padding: 2%;
  margin: 0 auto;
}
.home-page-wrapper .sports-latest-wrapper h2 {
  font-size: 35px;
  margin-top: 3%;
  margin-bottom: 3%;
  position: relative;
}
.home-page-wrapper .sports-latest-wrapper h2::after {
  content: "";
  padding: 3px;
  width: 20%;
  background-color: red;
  position: absolute;
  top: 105%;
  left: 0;
}
.home-page-wrapper .sports-latest-wrapper .sports-latest {
  display: flex;
  justify-content: space-around;
}
.home-page-wrapper .sports-latest-wrapper .sports-latest .sports-latest-elements {
  width: 35%;
}
.home-page-wrapper .sports-latest-wrapper .sports-latest .sports-latest-elements img {
  width: 90%;
  height: 50vh;
  margin-bottom: 4%;
}
.home-page-wrapper .sports-latest-wrapper .sports-latest .sports-latest-elements h3 {
  font-size: 25px;
}
.home-page-wrapper .sports-latest-wrapper .sports-latest .sports-latest-elements h3 .header-link {
  text-decoration: none;
  color: #000;
}
.home-page-wrapper .sports-latest-wrapper .sports-latest .sports-latest-elements h3 .header-link:hover {
  color: lightblue;
}
.home-page-wrapper .sports-latest-wrapper .sports-latest .sports-latest-elements p {
  font-size: 18px;
}
.home-page-wrapper .sports-latest-wrapper .sports-latest .sports-latest-elements h3, .home-page-wrapper .sports-latest-wrapper .sports-latest .sports-latest-elements p {
  margin-bottom: 3%;
}
.home-page-wrapper .sports-latest-wrapper .sports-latest .sports-latest-elements .category-date {
  font-size: 15px;
}
.home-page-wrapper .tech-wrapper-home {
  margin: 2% auto;
  display: flex;
  justify-content: space-between;
}
.home-page-wrapper .tech-wrapper-home .tech-all-header {
  margin-top: 4%;
  margin-bottom: 5%;
  position: relative;
}
.home-page-wrapper .tech-wrapper-home .tech-all-header::after {
  content: "";
  padding: 2px;
  width: 20%;
  background-color: red;
  position: absolute;
  top: 105%;
  left: 0;
}
.home-page-wrapper .tech-wrapper-home .tech-all-posts {
  width: 55%;
}
.home-page-wrapper .tech-wrapper-home .tech-all-posts .tech-all-header {
  font-size: 40px;
}
.home-page-wrapper .tech-wrapper-home .tech-all-posts .all-posts-wrapper-home .all-posts {
  display: flex;
  justify-content: space-around;
  margin-bottom: 7%;
  position: relative;
  border-bottom: 2px solid gray;
  padding-bottom: 7%;
}
.home-page-wrapper .tech-wrapper-home .tech-all-posts .all-posts-wrapper-home .all-posts img {
  width: 45%;
  height: 40vh;
}
.home-page-wrapper .tech-wrapper-home .tech-all-posts .all-posts-wrapper-home .all-posts .side-content {
  width: 45%;
}
.home-page-wrapper .tech-wrapper-home .tech-all-posts .all-posts-wrapper-home .all-posts .side-content p {
  color: grey;
}
.home-page-wrapper .tech-wrapper-home .tech-all-posts .all-posts-wrapper-home .all-posts .side-content h3 {
  font-size: 25px;
  margin-bottom: 5%;
}
.home-page-wrapper .tech-wrapper-home .tech-all-posts .all-posts-wrapper-home .all-posts .side-content h3 .title-links {
  text-decoration: none;
  color: black;
}
.home-page-wrapper .tech-wrapper-home .tech-all-posts .all-posts-wrapper-home .all-posts .side-content h3 .title-links:hover {
  color: lightblue;
}
.home-page-wrapper .tech-wrapper-home .tech-all-posts .all-posts-wrapper-home .all-posts .side-content .category {
  margin-top: 10%;
}
.home-page-wrapper .tech-wrapper-home .tech-recent-posts-home {
  width: 40%;
}
.home-page-wrapper .tech-wrapper-home .tech-recent-posts-home .tech-recent-header {
  font-size: 35px;
  margin: 7% 0;
  position: relative;
}
.home-page-wrapper .tech-wrapper-home .tech-recent-posts-home .tech-recent-header::after {
  content: "";
  padding: 2px;
  width: 20%;
  background-color: red;
  position: absolute;
  top: 105%;
  left: 0;
}
.home-page-wrapper .tech-wrapper-home .tech-recent-posts-home .recent-posts-wrapper-home .recent-posts {
  display: flex;
  justify-content: space-around;
  margin-bottom: 7%;
  position: relative;
  border-bottom: 2px solid gray;
  padding-bottom: 10%;
}
.home-page-wrapper .tech-wrapper-home .tech-recent-posts-home .recent-posts-wrapper-home .recent-posts img {
  width: 45%;
}
.home-page-wrapper .tech-wrapper-home .tech-recent-posts-home .recent-posts-wrapper-home .recent-posts .side-content {
  width: 40%;
}
.home-page-wrapper .tech-wrapper-home .tech-recent-posts-home .recent-posts-wrapper-home .recent-posts .side-content p {
  color: grey;
}
.home-page-wrapper .tech-wrapper-home .tech-recent-posts-home .recent-posts-wrapper-home .recent-posts .side-content .title-links {
  text-decoration: none;
  color: black;
}
.home-page-wrapper .tech-wrapper-home .tech-recent-posts-home .recent-posts-wrapper-home .recent-posts .side-content .title-links:hover {
  color: lightblue;
}
.home-page-wrapper .fitness-wrapper {
  padding: 2%;
  margin: 0 auto;
}
.home-page-wrapper .fitness-wrapper h2 {
  font-size: 35px;
  margin-top: 3%;
  margin-bottom: 3%;
  position: relative;
}
.home-page-wrapper .fitness-wrapper h2::after {
  content: "";
  padding: 3px;
  width: 20%;
  background-color: red;
  position: absolute;
  top: 105%;
  left: 0;
}
.home-page-wrapper .fitness-wrapper .fitness-element-wrapper {
  display: flex;
  justify-content: space-around;
}
.home-page-wrapper .fitness-wrapper .fitness-element-wrapper .fitness-elements {
  width: 35%;
}
.home-page-wrapper .fitness-wrapper .fitness-element-wrapper .fitness-elements img {
  width: 90%;
  height: 50vh;
  margin-bottom: 4%;
}
.home-page-wrapper .fitness-wrapper .fitness-element-wrapper .fitness-elements h3 {
  font-size: 25px;
}
.home-page-wrapper .fitness-wrapper .fitness-element-wrapper .fitness-elements h3 .header-link {
  text-decoration: none;
  color: #000;
}
.home-page-wrapper .fitness-wrapper .fitness-element-wrapper .fitness-elements h3 .header-link:hover {
  color: lightblue;
}
.home-page-wrapper .fitness-wrapper .fitness-element-wrapper .fitness-elements p {
  font-size: 18px;
}
.home-page-wrapper .fitness-wrapper .fitness-element-wrapper .fitness-elements h3, .home-page-wrapper .fitness-wrapper .fitness-element-wrapper .fitness-elements p {
  margin-bottom: 3%;
}
.home-page-wrapper .fitness-wrapper .fitness-element-wrapper .fitness-elements .category-date {
  font-size: 15px;
}

@media only screen and (max-width: 900px) {
  .home-page-wrapper .tech-bg-wrapper {
    flex-direction: column;
    margin-top: 7%;
  }
  .home-page-wrapper .tech-bg-wrapper .big-box {
    width: 100%;
    padding: 30%;
    border-radius: 10px;
  }
  .home-page-wrapper .tech-bg-wrapper .big-box h3 {
    font-size: 19px;
  }
  .home-page-wrapper .tech-bg-wrapper .big-box p {
    font-size: 15px;
    top: 63%;
  }
  .home-page-wrapper .tech-bg-wrapper .big-box h3, .home-page-wrapper .tech-bg-wrapper .big-box p {
    left: 5%;
  }
  .home-page-wrapper .tech-bg-wrapper .small-box-wrapper {
    width: 100%;
  }
  .home-page-wrapper .tech-bg-wrapper .small-box-wrapper .small-box-one, .home-page-wrapper .tech-bg-wrapper .small-box-wrapper .small-box-two {
    padding: 23%;
  }
  .home-page-wrapper .tech-bg-wrapper .small-box-wrapper .small-box-one h4, .home-page-wrapper .tech-bg-wrapper .small-box-wrapper .small-box-one p, .home-page-wrapper .tech-bg-wrapper .small-box-wrapper .small-box-two h4, .home-page-wrapper .tech-bg-wrapper .small-box-wrapper .small-box-two p {
    left: 5%;
  }
  .home-page-wrapper .sports-latest-wrapper {
    margin-top: 7%;
  }
  .home-page-wrapper .sports-latest-wrapper .sports-latest {
    flex-direction: column;
  }
  .home-page-wrapper .sports-latest-wrapper .sports-latest .sports-latest-elements {
    width: 100%;
    margin-top: 7%;
  }
  .home-page-wrapper .sports-latest-wrapper .sports-latest .sports-latest-elements img {
    width: 100%;
  }
  .home-page-wrapper .tech-wrapper-home {
    flex-direction: column;
  }
  .home-page-wrapper .tech-wrapper-home .tech-all-posts {
    width: 100%;
  }
  .home-page-wrapper .tech-wrapper-home .tech-all-posts .all-posts-wrapper-home .all-posts {
    flex-direction: column;
  }
  .home-page-wrapper .tech-wrapper-home .tech-all-posts .all-posts-wrapper-home .all-posts .post-image, .home-page-wrapper .tech-wrapper-home .tech-all-posts .all-posts-wrapper-home .all-posts .side-content {
    width: 100%;
  }
  .home-page-wrapper .tech-wrapper-home .tech-all-posts .all-posts-wrapper-home .all-posts .side-content {
    margin-top: 7%;
  }
  .home-page-wrapper .tech-wrapper-home .tech-recent-posts-home {
    width: 100%;
  }
  .home-page-wrapper .fitness-wrapper .fitness-element-wrapper {
    flex-direction: column;
  }
  .home-page-wrapper .fitness-wrapper .fitness-element-wrapper .fitness-elements {
    width: 100%;
    margin-top: 9%;
    border-bottom: 2px solid gray;
    padding-bottom: 5%;
  }
  .home-page-wrapper .fitness-wrapper .fitness-element-wrapper .fitness-elements img {
    width: 100%;
  }
}/*# sourceMappingURL=home.css.map */