.tech-wrapper{
    width:90%;
    margin:2% auto;
    display:flex;
    justify-content:space-between;
    .tech-all-header{
        margin-bottom:5%;
        position:relative;
    }
    .tech-all-header::after{
        content:'';
        padding:2px;
        width:20%;
        background-color:red;
        position:absolute;
        top:105%;
        left:0;
    }
    .tech-all-posts{
        width:55%;

        .tech-all-header{
            font-size:40px;
        }
        .all-posts-wrapper{

            .all-posts{
                display:flex;
                justify-content:space-around;
                margin-bottom:7%;
                position:relative;
                padding-bottom:4%;
                border-bottom:2px solid gray;
    
                img{
                    width:45%;
                    height:60vh;
                    border-radius:10px;
                }
    
                .side-content{
                    width:45%;
                    
                    p{
                        color:grey;
                    }
    
                    h3{
                        font-size:25px;
                        margin-bottom:5%;
                        .title-links{
                            text-decoration:none;
                            color:black;
                        }
                        .title-links:hover{
                            color:lightblue;
                        }
                    }
                    .category{
                        margin-top:10%;
                    }
                }
            }
    
            
        }
    }
    .tech-recent-posts{
        width:40%;

        .tech-recent-header{
            font-size:35px;
            margin:7% 0;
            position:relative;
        }
        .tech-recent-header::after{
            content:'';
            padding:2px;
            width:20%;
            background-color:red;
            position:absolute;
            top:105%;
            left:0;
        }


        .recent-posts-wrapper{
            .recent-posts{
                display:flex;
                justify-content:space-around;
                margin-bottom:7%;
                position:relative;
                padding-bottom:4%;
                border-bottom:2px solid gray;

                img{
                    width:45%;
                    height:40vh;
                    border-radius:10px;
                }
                .side-content{
                    width:40%;

                    p{
                        color:grey;
                    }
                    
                    .title-links{
                        text-decoration:none;
                        color:black;
                    }
                    .title-links:hover{
                        color:lightblue;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:900px){
    .tech-wrapper{
        flex-direction:column;
        margin-top:7%;
        //justify-content:space-between;

        .tech-all-posts{
            width:100%;

            .tech-all-header{
                font-size:30px;
            }

            .all-posts-wrapper{

                img{
                    height:20vh;
                }   
                
                .all-posts{

                    .side-content{
                    
                        h3{
                            font-size:18px;
                        }

                        p{
                            font-size:14px;
                        }
                    }
                }
            }
        }

        .tech-recent-posts{
            width:100%;
        }
    }
}